// Responsive breakpoints
$desktop: new-breakpoint(min-width 800px);
$small-desktop: new-breakpoint(min-width 500px);

// Background
$bg-color: #111111; // Backup
$bg-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('/media/bg.png');
$bg-image-odd: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/media/bg.png');

// Page header
$header-text-color: #444;
$header-link-color: #444;

// Text and links
$text-color: #EEEEEE;
$link-color: #56A3DF;

// Calculators
$calculator-base-color: gainsboro;
$calculator-bg-color: lighten($calculator-base-color, 10%);
$calculator-text-color: #111111;
$calculator-box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.7), 3px 0px 6px rgba(0, 0, 0, 0.7), -3px 0px 6px rgba(0, 0, 0, 0.7);
$calculator-border-color: $calculator-base-color;
$calculator-border-radius: 3px;
$calculator-spacing: 1.5em;



//https://codepen.io/jgthms/pen/EjxBdR?editors=1100
@function hsb($h-hsb, $s-hsb, $b-hsb, $a: 1) {
  @if $b-hsb == 0 {
    @return hsla(0, 0, 0, $a);
  } @else {
    $l-hsl: ($b-hsb/2) * (2 - ($s-hsb/100));
    $s-hsl: ($b-hsb * $s-hsb) / if($l-hsl < 50, $l-hsl * 2, 200 - $l-hsl * 2);
    @return hsla($h-hsb, $s-hsl, $l-hsl, $a);
  }
}

@function hsb-saturate($s, $a) {
  @if $s == 0 {
    @return 0;
  } @else {
    @return $s + $a;
  }
}

@mixin buttonize($h, $s, $b, $light: 0) {

  $color: hsb($h, $s, $b);
  $color-dark: hsb($h, hsb-saturate($s, 10), $b);
  $inset-top: inset 0 1px 0 hsb($h, $s - 20, $b + 10);
  $inset-bottom: inset 0 -1px 0 hsb($h, hsb-saturate($s, 10), $b - 10);
  $inset: inset 0 0 0 1px hsb($h, hsb-saturate($s, - 10), $b);

  background-color: $color;
  background-image: linear-gradient(to bottom, $color, $color-dark);
  border: 1px solid hsb($h, hsb-saturate($s, 20), $b - 20);

  @if $light == 1 {
    color: hsb($h, hsb-saturate($s, 40), $b - 40);
    text-shadow: 0 1px 0 rgba(white, 0.5);
  } @else {
    color: white;
    text-shadow: 0 1px 2px rgba(black, 0.3);
  }
  
  box-shadow: $inset-top, $inset-bottom, $inset;
  &:hover {
    background: $color-dark;
  }

  &:active {
    background: $color-dark;
    background-image: linear-gradient(to top, $color, $color-dark);
    box-shadow: inset 0 2px 3px rgba(black, 0.2);
  }

  .fa {
    color: hsb($h, hsb-saturate($s, 20), $b - 20);
    text-shadow: 0 1px 0 rgba(white, 0.3);
  }

}