<span class="calculator-title">{{ calc.title }}</span>

<span class="calculator-hr"></span>

<span class="calculator-description">
    <p ng-repeat="line in calc.description">{{ line }}</p>
</span>

<span class="calculator-actions">
	<span class="calculator-action">
		<i class="fas fa-palette fa-lg"></i>
	</span>
	<span class="calculator-action">
		<% if(favorited) { %>
			<form action="/favorites/delete" method="POST">
		        <input type="hidden" name="calculator" value="{{ calc.name }}">
		        <i class="fas fa-star fa-lg" onclick="this.parentNode.submit()"></i>
		    </form>
		<% } else { %>
			<form action="/favorites/add" method="POST">
		        <input type="hidden" name="calculator" value="{{ calc.name }}">
		        <i class="far fa-star fa-lg" onclick="this.parentNode.submit()"></i>
		    </form>
		<% } %>
	</span>
</span>
