<span class="modal-section-title">Color theme</span>

<select 
	ng-model="currentCalc.colorTheme.name"
	ng-options="x for x in colorThemeNames"
	ng-change="changeColorTheme(currentCalc.colorTheme.name)"
	id="color-picker" class="{{ currentCalc.colorTheme.inputColor }}-disabled }}">
</select>