<span class="modal-section-title">Color theme</span>

<select 
	ng-model="currentCalcColorTheme"
	ng-options="x for x in colorThemeNames"
	ng-change="changeColorTheme(currentCalcColorTheme)"
	id="color-picker" class="dark-grey">
</select>	
