<span class="modal-section-title">Decimal places</span>
<select 
	ng-model="currentCalcDecimalPlaces"
	ng-options="x for x in decimalPlacesOptions"
	ng-change="changeDecimalPlaces(currentCalcDecimalPlaces)"
	id="decimal-places" class="dark-grey">
</select>
