<div class="calculator {{ calc.colorTheme.backgroundColor }}-background">
    <div class="calculator-inner">
        <%- include('calculator-top', {favorited: favorited}); %>
               
        <div class="calculator-inputs">
            <span class="calculator-input">
                <span class="calculator-input-title">{{ calc.inputs.point1.name }}</span>
                <input type="text" ng-change="calculate()" ng-model="calc.inputs.point1.value" class="{{ calc.colorTheme.inputColor }}" placeholder="{{ calc.inputs.point1.hint }}">
            </span>

            <span class="calculator-input">
                <span class="calculator-input-title">{{ calc.inputs.point2.name }}</span>
                <input type="text" ng-change="calculate()" ng-model="calc.inputs.point2.value" class="{{ calc.colorTheme.inputColor }}" placeholder="{{ calc.inputs.point2.hint }}">
            </span>
        </div>

        <div class="calculator-outputs">
            <span class="calculator-output">
                <span class="calculator-output-title">{{ calc.outputs.manhattanDistance.name }}</span>
                <input type="text" ng-model="calc.outputs.manhattanDistance.value" class="{{ calc.colorTheme.outputColor }}-disabled" readonly>
            </span>

            <span class="calculator-output"> 
                <span class="calculator-output-title">{{ calc.outputs.euclideanDistance.name }}</span>
                <input type="text" ng-model="calc.outputs.euclideanDistance.value" class="{{ calc.colorTheme.outputColor }}-disabled" readonly>
            </span>
        </div>
        
        <%- include('errors'); %>
        <%- include('reset-button'); %>
    </div>
</div>
