<!DOCTYPE html>
<html>
<head>
    <title>Calculator Website - Favorites</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular.min.js"></script>
    <script src="js/app-controller.js"></script>
    <script src="js/calculators/square.js"></script>
    <script src="js/calculators/distance.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-app="calculatorApp" ng-controller="app-controller">

    <select ng-init="colorScheme = colors[0]" ng-model="colorScheme" ng-options="x for x in colors" ng-change="changeColorScheme()" class="{{colorScheme}}"></select>
    
    <div class="calculators">

        <% favorites.forEach(function(calculator) { %>

            <div class="calculator-outer">
                <div ng-controller="<%= calculator %>" class="calculator {{colorScheme}}-background">
                    <div class="calculator-inner">
                        <form action="/favorites/delete" method="POST">
                            <input type="hidden" name="calculator" value="<%= calculator %>">
                            <button class="button orange">Unfavorite</button>
                        </form>
                        <%- include(calculator); %>
                    </div>
                </div>
            </div>

        <% }); %>

        <% if(favorites.length === 0) { %>
            <h3>You don't have any favorites!</h3>
            <p>Click the 'Favorite' button on a calculator to add it to your favorites.</p>
        <% } %>
    </div>

</body>
</html>
