<div id="info-modal" class="modal">
    <div class="modal-inner">
        <div class="modal-content {{ currentCalc.colorTheme.backgroundColor }}-background">
            <div class="modal-header">
                <span class="modal-title">Info</span>
            </div>
            <div class="modal-body">
                <div id="square-info">
                    <div class="modal-body-section">
                        <span class="modal-description-title">General</span>
                        <p>Here's the general description for this calculator.</p>
                    </div>
                    <div class="modal-body-section">
                        <span class="modal-description-title">General</span>
                        <p>Here's the general description for this calculator.</p>
                    </div>
                </div>
                <!-- Calculator description gets inserted here -->
            </div>
            <span class="modal-icon">
                <i class="exit-icon far fa-times-circle fa-2x"></i>
            </span>
        </div>
    </div>
</div>
