<div id="search">
	<input id="search-input" type="text" ng-change="filterCalculators()" ng-model="searchTerm" class="default-input" placeholder="Find a calculator...">
	<h1 id="search-message"></h1>
</div>
