<div id="settings-modal" class="modal" ng-click="closeModal()">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <span class="calc-title">Settings</h2>
        </div>
        <div class="modal-body">
            <%- include('color-picker'); %>
            <%- include('decimal-digits'); %>
        </div>
    </div>
</div>
