<span class="calculator-title">{{ title }}</span>

<span class="calculator-hr"></span>

<span class="calculator-description">
    <p ng-repeat="line in description">{{ line }}</p>
</span>

<span class="calculator-input">
    <span class="calculator-input-title">X</span>
    <input type="number" ng-change="calculate()" ng-model="x" class="{{colorScheme}}">
</span> 

<span class="calculator-output">
    <span class="calculator-input-title">Y</span>
    <input type="number" ng-model="y" class="{{colorScheme}}-disabled" readonly>
</span>

<span class="calculator-button">
    <button ng-click="reset()" class="button red">Reset</button>
</span>
