<div class="calculator {{ calc.color }}-background">
	<div class="calculator-inner">
		<span class="calculator-title">{{ calc.title }}</span>

		<span class="calculator-hr"></span>

		<span class="calculator-description">
		    <p ng-repeat="line in calc.description">{{ line }}</p>
		</span>

		<div class="calculator-inputs">
			<span class="calculator-input">
			    <span class="calculator-input-title">{{ calc.inputs.x.name }}</span>
			    <input type="number" ng-change="calculate()" ng-model="calc.inputs.x.value" class="{{ calc.color }}">
			</span>
		</div>

		<div class="calculator-outputs">
			<span class="calculator-output">
			    <span class="calculator-input-title">{{ calc.outputs.y.name }}</span>
			    <input type="number" ng-model="calc.outputs.y.value" class="{{ calc.color }}-disabled" readonly>
			</span>
		</div>

		<!--<span class="calculator-error" ng-show="{{ calc.errors.length > 0 }}">-->
		<span class="calculator-error" ng-show="true">
		    <p class="error">{{ calc.errors[0] }}</p>    
		</span>

		<span class="calculator-button">
		    <button ng-click="calc.reset()" class="button red">Reset</button>
		</span>

		<%- include('favorite-button', {favorited: favorited, calcName: 'square'}); %>
		<%- include('color-picker') %>
	</div>
</div>
