<span class="modal-section-title">Color theme</span>

<select
	ng-model="currentColorTheme"
	ng-options="color.text for color in colorThemeOptions track by color.value"
	ng-change="changeColorTheme(currentColorTheme)"
	id="color-picker" class="{{ currentCalc.colorTheme.inputColor }}-disabled }}">
</select>
