<span class="modal-section-title">Decimal places</span>

<select
	ng-model="currentCalc.decimalPlaces"
	ng-options="x for x in decimalPlacesOptions"
	ng-change="changeDecimalPlaces(currentCalc.decimalPlaces)"
	id="decimal-places" class="{{ currentCalc.colorTheme.inputColor }}-output">
</select>
