<div id="info-modal" class="modal">
    <div class="modal-inner">
        <div class="modal-content {{ currentCalc.colorTheme.backgroundColor }}-background">
            <div class="modal-header">
                <span class="modal-title">Info</span>
            </div>
            <div id="info-modal-body" class="modal-body">
                <!-- Calculator description gets inserted here -->
            </div>
            <span class="modal-icon">
                <i class="exit-icon far fa-times-circle fa-2x"></i>
            </span>
        </div>
    </div>
</div>
