<%- include('../calculator-parts/calc-inputs'); %>

<div id="base-converter-info" ng-hide="true">
    <div class="modal-body-section">
        <span class="modal-description-title">TITLE</span>
        <p>DESCRIPTION</p>
    </div>
</div>
