<%- include('../calculator-parts/calc-inputs'); %>
<%- include('../calculator-parts/calc-outputs'); %>

<div id="square-info" ng-hide="true">
    <div class="modal-body-section">
        <span class="modal-description-title">General</span>
        <p>To square a number, we multiply it by itself.</p>
    </div>
</div>
