<div class="calc-section calc-inputs">
    <span class="calc-input">
    	<span class="calc-input-title">Input</span>
        <input
            type="text"
            ng-change="calc.calculate()"
            ng-model="calc.inputs.inputValue.value"
            class="{{ calc.colorTheme.inputColor }}-input"
            placeholder="eg) 2048">
        <select
			ng-model="unit"
			ng-options="unitOption.name for unitOption in units track by unitOption.id"
			ng-change="calc.calculate()"
			id="color-picker" class="{{ calc.colorTheme.inputColor }}-output">
		</select>
	</span>
	<span class="calc-input">
    	<span class="calc-input-title">Base</span>
		<select
			ng-model="base"
			ng-options="b for b in bases"
			ng-change="calc.calculate()"
			id="color-picker" class="{{ calc.colorTheme.inputColor }}-output">
		</select>
    </span>
</div>

<div class="calc-section calc-outputs">
	<span class="calc-output">
		<table id="output-table">
			<tr ng-repeat="(name, output) in calc.outputs" class="calc-output conversion-output">
		    	<td style="width:50%">{{ output.name }}</td>
		    	<td style="width:50%">
		        	<input type="text" ng-model="calc.outputs[name].value" ng-click="copyOutput($event)" class="{{ calc.colorTheme.outputColor }}-output" readonly>
		    	</td>
		    </tr>
		</table>
	</span>
</div>

<div id="bits-info" ng-hide="true">
    <div class="modal-body-section">
        <span class="modal-description-title">Coming soon!</span>
        <p></p>
    </div>
</div>

<style>
	#output-table {
		width: 100%;
	}

	.conversion-output {
		margin: 0 !important;
	}
</style>
