<div class="calc-section calc-inputs">
    <span class="calc-input">
        <span class="calc-input-title">{{ calc.inputs.point1.name }}</span>
        <input type="text" ng-change="calc.calculate()" ng-model="calc.inputs.point1.value" class="{{ calc.colorTheme.inputColor }}-input" placeholder="{{ calc.inputs.point1.hint }}">
    </span>

    <span class="calc-input">
        <span class="calc-input-title">{{ calc.inputs.point2.name }}</span>
        <input type="text" ng-change="calc.calculate()" ng-model="calc.inputs.point2.value" class="{{ calc.colorTheme.inputColor }}-input" placeholder="{{ calc.inputs.point2.hint }}">
    </span>
</div>

<div class="calc-section calc-outputs">
    <span class="calc-output">
        <span class="calc-output-title">{{ calc.outputs.manhattanDistance.name }}</span>
        <input type="text" ng-model="calc.outputs.manhattanDistance.value" class="{{ calc.colorTheme.outputColor }}-disabled" readonly>
    </span>

    <span class="calc-output"> 
        <span class="calc-output-title">{{ calc.outputs.euclideanDistance.name }}</span>
        <input type="text" ng-model="calc.outputs.euclideanDistance.value" class="{{ calc.colorTheme.outputColor }}-disabled" readonly>
    </span>
</div>


<div id="distance-info" ng-hide="true">
    <div class="modal-body-section">
        <span class="modal-description-title">Manhattan</span>
        <p>The manhattan distance (L1 distance) between two points is calculated as if we are only allowed to move in straight lines, and turn 90 degrees at a time.</p>
        <p>Here's a fancy-looking equation that describes this.</p>
    </div>
    <div class="modal-body-section">
        <span class="modal-description-title">Euclidean</span>
        <p>The euclidean distance (L2 distance) between two points is the length of the 'direct' path from one point to the other.</p>
        <p>Here's a fancy-looking equation that describes this type of distance as well.</p>
    </div>
</div>
