<%- include('../calculator-parts/calc-inputs'); %>
<%- include('../calculator-parts/calc-outputs'); %>

<div id="distance-info" ng-hide="true">
    <div class="modal-body-section">
        <span class="modal-description-title">Manhattan</span>
        <p>The manhattan distance (L1 distance) between two points is calculated as if we are only allowed to move in straight lines, and turn 90 degrees at a time.</p>
        <p>Here's a fancy-looking equation that describes this.</p>
    </div>
    <div class="modal-body-section">
        <span class="modal-description-title">Euclidean</span>
        <p>The euclidean distance (L2 distance) between two points is the length of the 'direct' path from one point to the other.</p>
        <p>Here's a fancy-looking equation that describes this type of distance as well.</p>
        <p>
          When \(a \ne 0\), there are two solutions to \(ax^2 + bx + c = 0\) and they are
          $$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$
        </p>
    </div>
</div>
